.DS_Store
example/ios/exampleWizBootStrap.xcodeproj/xcuserdata/*
example/ios/exampleWizBootStrap.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.7.0.js


# Android Studio
*.iml
*.idea
*.externalToolBuilders
example/android/out/*

# Eclipse
example/android/bin/*
example/android/gen/*
*.classpath
*.properties
*..project
